<form action="<%= action %>" enctype="multipart/form-data" method="post" class="form">
  <div class="form-field">
    <label>
      Photo:
      <input type="file" name="photo">
    </label>
  </div>
  <div class="form-field">
    <label>
      Weight:
      <input type="text" name="weight" value="<%= @baby_param&.weight %>">
      <% if @baby_param&.errors && @baby_param.errors[:weight].present? %>
        <small class="form-errors"><%= @baby_param.errors[:weight].join('; ') %></small>
      <% end %>
    </label>
  </div>
  <div class="form-field">
    <label>
      Height:
      <input type="text" name="height" value="<%= @baby_param&.height %>">
      <% if @baby_param&.errors && @baby_param.errors[:height].present? %>
        <small class="form-errors"><%= @baby_param.errors[:height].join('; ') %></small>
      <% end %>
    </label>
  </div>
  <div class="form-field">
    <label>
      Measurement date:
      <input type="datetime-local" name="measurement_date"
             value="<%= date_formatted_for_datetime_value(@baby_param&.measurement_date) %>">
      <% if @baby_param&.errors && @baby_param.errors[:measurement_date].present? %>
        <small class="form-errors"><%= @baby_param.errors[:measurement_date].join('; ') %></small>
      <% end %>
    </label>
  </div>
  <div class="form-actions">
    <button type="submit" class="form-submit">
      <%= submit_button_text || 'Submit' %>
    </button>
  <div>
<form>
