<form action="<%= action %>" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <label for="params-photo">Photo</label>
    <input type="file" class="form-control" id="params-photo" name="photo">
  </div>
  <div class="form-group">
    <label for="params-weight">Weight (in grams)</label>
    <input type="number" class="form-control" id="params-weight" name="weight" value="<%= @baby_param&.weight %>">
    <% if @baby_param&.errors && @baby_param.errors[:weight].present? %>
      <small class="text-danger"><%= @baby_param.errors[:name].join('; ') %></small>
    <% end %>
  </div>
  <div class="form-group">
    <label for="params-height">Height (in millimeters)</label>
    <input type="number" class="form-control" id="params-height" name="height" value="<%= @baby_param&.height %>">
    <% if @baby_param&.errors && @baby_param.errors[:weight].present? %>
      <small class="text-danger"><%= @baby_param.errors[:name].join('; ') %></small>
    <% end %>
  </div>
  <div class="form-group">
    <label for="measurement-date">Measurement date</label>
    <input id="measurement-date" type="date" class="form-control" name="date_of_measurement"
           value="<%= date_formatted_for_datetime_value(@baby_param&.date_of_measurement) %>">
    <% if @baby_param&.errors && @baby_param.errors[:date_of_measurement].present? %>
      <small class="text-danger"><%= @baby_param.errors[:date_of_measurement].join('; ') %></small>
    <% end %>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">
      <%= submit_button_text || 'Submit' %>
    </button>
  <div>
<form>
