<div class="list-group">
  <% @baby_params.each do |baby_param| %>
    <a href="/baby_params/<%= baby_param.id %>" class="list-group-item list-group-item-action d-flex">
      <div class="d-flex justify-content-center align-items-center me-3" style="width: 60px">        
        <img src="<%= baby_param.photo(size: :small) %>" class="rounded">
      </div>
      <div>
        <p class="mb-1">Weight: <%= baby_param.weight %></p>
        <p class="mb-1">Height: <%= baby_param.height %></p>
        <small><%= baby_param.measurement_date %></small>
      </div>
    </a>
  <% end %>
</div>
