<form action="<%= action %>" method="post">
  <label>
    Name:
    <br>
    <input type="text" name="name" value="<%= @baby&.name %>">
  </label>
  <br>
  <label>
    Gender:
    <br>
    <select name="gender">
      <option hidden disabled selected value></option>
      <option value="G" <%= 'selected' if @baby&.girl? %>>Girl</option>
      <option value="B" <%= 'selected' if @baby&.boy? %>>Boy</option>
    </select>
  </label>
  <br>
  <label>
    Date of Birth:
    <br>
    <input type="datetime-local" name="date_of_birth">
  </label>
  <br>
  <label>
    Night sleep start:
    <br>
    <input type="number" min="0" max="23" name="night_sleep_start" value="<%= @baby&.night_sleep_start || 22 %>">
  </label>
  <br>
  <label>
    Night sleep finish:
    <br>
    <input type="number" min="0" max="23" name="night_sleep_finish" value="<%= @baby&.night_sleep_finish || 7 %>">
  </label>
  <br>
  <input type="submit" value="<%= submit_button_text %>">
<form>
