<form action=<%= action %> method="post">
  <% current_time = Time.new.in_time_zone(current_user.time_zone) %>
  <h3>Finished at</h3>
  <label>Year: <br>
    <input type="number" name="activity_finished_at[year]" value="<%= current_time.year %>">
  </label>
  <br>
  <label>Month: <br>
    <input type="number" name="activity_finished_at[month]" value="<%= current_time.month %>">
  </label>
  <br>
  <label>Day: <br>
    <input type="number" name="activity_finished_at[day]" value="<%= current_time.day %>">
  </label>
  <br>
  <label>Hour: <br>
    <input type="number" name="activity_finished_at[hour]" value="<%= current_time.hour %>">
  </label>
  <br>
  <label>Minute: <br>
    <input type="number" name="activity_finished_at[minute]" value="<%= current_time.min %>">
  </label>
  <br>
  <input type="submit" value="Finish">
<form>
