<form action="/sleeps/create" method="post">
  <% current_time = Time.new.in_time_zone(current_user.time_zone) %>
  <h3>Started at</h3>
  <label>Year: <br>
    <input type="number" name="sleep_started_at[year]" value="<%= current_time.year %>">
  </label>
  <br>
  <label>Month: <br>
    <input type="number" name="sleep_started_at[month]" value="<%= current_time.month %>">
  </label>
  <br>
  <label>Day: <br>
    <input type="number" name="sleep_started_at[day]" value="<%= current_time.day %>">
  </label>
  <br>
  <label>Hour: <br>
    <input type="number" name="sleep_started_at[hour]" value="<%= current_time.hour %>">
  </label>
  <br>
  <label>Minute: <br>
    <input type="number" name="sleep_started_at[minute]" value="<%= current_time.min %>">
  </label>
  <div id="sleep_finished_at_form_block" class="d-none">
    <h3>Finished at</h3>
    <label>Year: <br>
      <input type="number" name="sleep_finished_at[year]" value="<%= current_time.year %>">
    </label>
    <br>
    <label>Month: <br>
      <input type="number" name="sleep_finished_at[month]" value="<%= current_time.month %>">
    </label>
    <br>
    <label>Day: <br>
      <input type="number" name="sleep_finished_at[day]" value="<%= current_time.day %>">
    </label>
    <br>
    <label>Hour: <br>
      <input id="sleep_finished_at_hour" type="number" name="sleep_finished_at[hour]">
    </label>
    <br>
    <label>Minute: <br>
      <input id="sleep_finished_at_minute" type="number" name="sleep_finished_at[minute]">
    </label>
  </div>
  <br>
  <input type="submit" value="Start">
<form>
