<% current_time = Time.new.in_time_zone(current_user.time_zone) %>

<h3>Started at:</h3>
<div class="form-group d-flex event-timestamps-form">
  <label>Year: <br>
    <input class="form-control" type="number" name="activity_started_at[year]" value="<%= current_time.year %>">
  </label>
  <label>Month: <br>
    <input class="form-control" type="number" name="activity_started_at[month]" value="<%= current_time.month %>">
  </label>
  <label>Day: <br>
    <input class="form-control" type="number" name="activity_started_at[day]" value="<%= current_time.day %>">
  </label>
  <label>Hour: <br>
    <input class="form-control" type="number" name="activity_started_at[hour]" value="<%= current_time.hour %>">
  </label>
  <label>Min: <br>
    <input class="form-control" type="number" name="activity_started_at[minute]" value="<%= current_time.min %>">
  </label>
</div>
<div id="activity_finished_at_form_block" class="d-none">
  <%= erb :'shared/activities/form_partials/finished_at.html' %>
</div>
